@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Start with paper size</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12 pull-left row-body">
    <button class="btn btn-primary btn-lg col-md-3 text-justify sharp-corners">
        <span class="pull-left">
            A4 Standard
        </span>
        <span>
            |
        </span>
        <span class="pull-right">
            210 x 297 mm
        </span>
    </button>
    <button class="btn btn-primary btn-lg col-md-3 text-justify sharp-corners">
        <span class="pull-left">
            US Letter
        </span>
        <span>
            |
        </span>
        <span class="pull-right">
            216 x 279 mm
        </span>
    </button>
</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Choose template</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12">



    @for (int i = 0; i < 4; i++)
    {
        <div class="col-md-3 choose-template-row">
            
            <div class="panel panel-primary">
                <div class="panel-heading">Boxes in current template - 10</div>
                <div class="panel-body">

               @for (int j = 0; j < 10; j++)
               {
                   <div class="template-box">

                   </div>
               }
                </div>
            </div>
        </div>
    }
</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Add or edit images</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 add-image-row">
    <button class="btn btn-primary btn-lg sharp-corners col-md-3 col-md-offset-1">Open popup for editing</button>
</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Print template or edit it</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 print-and-finnish-row">
       <div class="col-md-3">
        <button class="btn btn-primary btn-lg sharp-corners">
            Back to edit
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-lg sharp-corners">
            Print
        </button>
    </div>
       <div class="col-md-3">
        <button class="btn btn-primary btn-lg sharp-corners">
            Save in .pdf
        </button>
    </div>
       <div class="col-md-3">
        <button class="btn btn-primary btn-lg sharp-corners">
            Send via email
        </button>
    </div>
</div>