@{
    ViewBag.Title = "Home Page";
}
@model List<DesignAndPrintStickers.Models.IndexViewModels>


<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Start with paper size</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12 pull-left row-body">
    <button class="btn btn-info btn-sm col-md-2 text-justify sharp-corners btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">A4 Standard</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">210 x 297 mm</p>
        </span>
    </button>

    <button class="btn btn-info btn-sm col-md-2 text-justify sharp-corners  btn-choose-paper">
        <span class="pull-left">
            <p class="custom-heading">US Letter</p>
        </span>

        <span>
            |
        </span>
        <span class="pull-right">
            <p class="custom-size">216 x 279 mm</p>
        </span>
    </button>

</div>
<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Choose template</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>


<div class="col-md-12  choose-template-row">

    @foreach (var template in Model)
    {
             <div class="col-md-3 template">

            <div class="panel panel-primary">
                <div class="panel-heading">@template.Name  - Boxes in current template - @template.BoxCount </div>
                <div class="panel-body">

                    @for (int j = 0; j < template.BoxCount; j++)
                    {
                        <div class="template-box @template.CssClass">

                        </div>
                    }
                </div>
            </div>
        </div>
    }
 
   
    
</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Add or edit images</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 add-image-row">
    <button class="btn btn-info btn-lg sharp-corners col-md-3 col-md-offset-1">Open popup for editing</button>
</div>

<div class="col-md-12 pull-left row-header">
    <div class="col-md-2">
        <hr />
    </div>

    <h4 class="col-md-3">Print template or edit it</h4>

    <div class="col-md-4">
        <hr />
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 print-and-finnish-row">
    <div class="col-md-3">
        <button class="btn btn-info btn-lg sharp-corners">
            Back to edit
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg sharp-corners">
            Print
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg sharp-corners">
            Save in .pdf
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg sharp-corners">
            Send via email
        </button>
    </div>
</div>

<div class="clearfix"></div>