body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*#region Page CSS */


#wrapper {
    height: 100%;
    text-align: center;
    overflow: auto;
    padding-left: 250px;
    transition: all 0.4s ease 0s;
    background-color:#696969;
   
    background-attachment: fixed;
}

@media only screen and (max-width : 1324px) {
    #page-content-wrapper {
        width: 900px;
        margin-left: 0;
        display: inline-block;
    }
}

@media only screen and (min-width : 1424px) {
    #page-content-wrapper {
        width: 1400px;
        margin-left: 0;
        display: inline-block;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #page-content-wrapper {
        width: 93%;
        display: inline-block;
    }
}


/*#endregion */


.dl-horizontal dt {
    white-space: normal;
}

.down-menu {
    margin-top: 300%;
}

/*#region Footer CSS */
footer {
    position: relative;
    bottom: 0;
    color: white;
  
}

    footer a {
        color: white;
    }

        footer a:hover {
            color: black;
        }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer {
        left: -2%;
    }
}
/*#endregion */

.sharp-corners {
    border-radius: 0;
}

/*#region INDEX CSS START  ****************/


.row-header hr {
    border-top: 2px solid white;
}

.row-header h4 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}


.row-body {
    margin-top: 25px;
    margin-bottom: 25px;
}

    .row-body button {
        margin-right: 25px;
    }

.row-body button span:not(:nth-child(3)) {
    font-weight: 600;
    font-size: 25px;
}

.choose-template-row {
    padding-top: 20px;
}

.choose-template-row .panel .panel-body {

}
.template-box{
    width: 20mm;
        border: 1px solid #989898;
    background: white;
    height: 20mm;
    margin: 5px;
    display: inline-block;
}
.add-image-row{
    padding-top: 20px;
    padding-bottom: 20px;
}

.print-and-finnish-row{
    padding: 30px;
}

@media only screen and (max-width : 1424px) {
    .row-body button span:not(:nth-child(3)) {
    font-size: 16px;
}
        .row-body button {
    font-size: 12px;
}
    .template-box{
    width: 10mm;
    height: 10mm;
    margin: 2.5px;
}
}
/*#endregion INDEX CSS END  ***********/


/*#region Side menu CSS START*/
.solo {
    width: 100%;
    margin-left: 0;
}

.follow {
    text-align: center;
    font-size: 22px;
    color: black;
}

.logo {
    width: 100%;
    padding: 10px;
    border:none;
}

.logo-home {
    padding: 50px;
    width: 100%;
}

@media only screen and (min-width : 1023px) {
    .logo-home {
        padding: 50px;
        width: 60%;
    }
}


#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: white;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

    #wrapper.active #sidebar-wrapper {
        left: 0;
    }


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}

    .sidebar-nav li {
        line-height: 40px;
    }

        .sidebar-nav li img {
            width: 90%;
        }

.active img {
    opacity: 1;
    cursor: pointer;
}

.sidebar-nav li:not(:first-child) a {
    color: #aaa;
    display: block;
    text-decoration: none;
    font-size: 22px;
    transition: all ease-in-out 0.1s;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #999999;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    opacity: 1;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }



.content-header {
    height: 65px;
    line-height: 65px;
}

    .content-header h1 {
        margin: 0;
        line-height: 65px;
        display: inline-block;
    }

#menu-toggle {
}

.btn-menu {
    color: #000;
}

.inset {
    padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }
}

/*#endregion Side menu CSS END*/

/*******************************************Petya's UI changes*******************************************/

/*Paper Size Buttons*/
.custom-heading{
    font-size:17px;
   
}

.custom-size{
    font-size:14px;
}

.btn-info{
    border-radius:5px;
   
}
