.template-box {
  border: 1px solid #989898;
  background: white;
  display: inline-block;
}
#page-for-printing {
  width: 210mm;
  height: 297mm;
  padding-top: 10mm;
  padding-left: 10mm;
  border: 1px solid black;
  display: inline-block;
}
#page-for-printing .template-box {
  margin-bottom: 10mm;
  margin-right: 10mm;
}
/*#region Template Square */
.template-square {
  width: 20%;
}
@media only screen and (max-width: 1324px) {
  .template-square {
    height: 7mm;
    width: 7mm;
  }
}
/*#endregion */
/*#endregion */
/*#region Template round */
.template-round {
  border-radius: 100%;
  width: 20%;
}
@media only screen and (max-width: 1324px) {
  .template-round {
    height: 7mm;
    width: 7mm;
  }
}
/*#endregion */
/*#region Template Elipsis */
.template-elipsis {
  border-radius: 100%;
  width: 45%;
}
@media only screen and (max-width: 1324px) {
  .template-elipsis {
    height: 7mm;
    width: 17mm;
  }
}
/*#endregion */