<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mconception2016-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://mconception2016-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>mconception2016-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\mconception2016-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5017.SmarterASP.NET;Initial Catalog=DB_A0C2B2_mconception2016;User ID=DB_A0C2B2_mconception2016_admin;Password=mconcept2016" Name="Data Source=SQL5017.SmarterASP.NET;Initial Catalog=DB_A0C2B2_mconception2016;User Id=DB_A0C2B2_mconception2016_admin;Password=mconcept2016;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.AppDbContext, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.SmarterASP.NET;Initial Catalog=DB_A0C2B2_mconception2016;User Id=DB_A0C2B2_mconception2016_admin;Password=mconcept2016;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>