@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="jumbotron">
    <hgroup class="title">
        <h2>@ViewBag.Title.</h2>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>