
<div class="modal fade add-picture-modal-toall" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="background-color: white">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">
                Add picture to all boxes
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                

                <img id="imageForAll" src="#" style="display: none">


                <div class="form-group col-md-5" id="uploaderForAll">
                    <input class="form-control" id="fileuploadForAll" type="file" name="files" data-url="Upload/Save" />

                    <div class="progress">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btnCropAndAddToAll">Add picture</button>
        </div>
    </div>
</div>